
/* Raleway */

@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway/static/Raleway-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway/static/Raleway-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway/static/Raleway-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway/static/Raleway-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway/static/Raleway-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway/static/Raleway-Bold.ttf");
    font-weight: 700;
}

/* Oswald */

@font-face {
    font-family: "Oswald";
    src: url("../assets/fonts/Oswald/static/Oswald-Bold.ttf");
    font-weight: 700;
}

/* Merriweather */
@font-face {
    font-family: "Merriweather";
    src: url("../assets/fonts/Merriweather/Merriweather-Black.ttf");
    font-weight: 900;
}